{% assign item = order.line_items[0]%} {%capture student%}
{{item.properties.Nombre}} {{item.properties.Apellido}} {%endcapture%}
{%capture parent%} {{order.billing_address.first_name}}
{{order.billing_address.last_name}}<sup>*</sup> {%endcapture%}
{%capture titulo%}{{item.title | split: '(' | first }}{%endcapture%}
{%capture autor%}{{ item.title | split:'(' | last | split:')' | first }}{%endcapture%}



<style>
  #certificate {
    margin-top: 25px;
    height: 3em;
    background-color: #28a745;
    color: white;
    width: 12em;
    font-size: 2em;
  }
  #certificate:hover,
  button:hover {
    background-color: #23963e;

    cursor: pointer;
  }
</style>
<a
target="_blank"
  href="https://gogvale.github.io/pruebaPDF/?nombre={%if student.size > 3%}{{student}}{%else%}{{parent}}{%endif%}&fecha={{ order.created_at | date: "%d/%m/%Y" }}&titulo={{titulo}}&autor={{autor}}&isbn={{ item.sku | split:'_' | first | default:"N/D" }}&orden={{order.name | split:'#' | last}}"
>
  <button id="certificate">Generar Certificado</button>
</a>
