{% if ... %}
<style>
  button {
    height: 3em;
    background-color: #28a745;
    color: white;
    width: 12em;
    font-size: 2em;
  }
  button:hover {
    background-color: #23963e;

    cursor: pointer;
  }
</style>
<a
  href="https://gogvale.github.io/pruebaPDF/?nombre={{nombre-completo}}&fecha={{created_at}}&titulo={{titulo}}&autor={{autor}}&isbn=&orden={{order_number}}"
>
  <button>Generar Certificado</button>
</a>
{% endif %}